* {
  background-color: aliceblue;
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe {
  color: brown;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.recipe:hover {
  color: black;
}

.container {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}
